@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.dm-500{
   font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.dm-300{
   font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.raleway-700 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-600 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.raleway-500 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.raleway-400 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}















/* ===== Theme aware scrollbar ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e7eb; /* light */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db;
}

/* Dark mode */
.dark ::-webkit-scrollbar-thumb {
  background-color: #2a2b2e;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #3a3b3f;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

.dark * {
  scrollbar-color: #2a2b2e transparent;
}
